{% extends 'base.html.twig' %}

{% block body%}
{% for message in app.flashes('message') %}
    <div class="flash-message">
        {{ message }}
    </div>
{% endfor %}

<h1>Connexion</h1>

<form action="{{ path('security_login') }}" method="post">
    <div>
        <input placeholder="adresse e-mail" required name="_username" type="text" class="form-control">
    </div>
     <div>
        <input placeholder="mot de passe" required name="_password" type="password" class="form-control">
    </div>
    <div>
        <button type="submit">Se connecter</button>
    </div>
</form>

{% endblock %}