{% extends 'base.html.twig' %}

{% block body%}
    {% for message in app.flashes('message') %}
        <div class="flash-message">
            {{ message }}
        </div>
    {% endfor %}

<h1 id="login_header">Connexion</h1>

<form class="login_form" action="{{ path('security_login') }}" method="post">
    <div>
        <input placeholder="adresse e-mail" required name="_username" type="text" class="form-control">
    </div>
     <div>
        <input placeholder="mot de passe" required name="_password" type="password" class="form-control">
    </div>
    <div>
        <button type="submit">Se connecter</button>
    </div>
    <a href="{{ path("app_forgotten_password") }}">Mot de passe oublié</a>
</form>

{% endblock %}