* {
  font-family: 'Abel';
}

#mainNavBar ul {
  list-style: none;
  background: #bd1e43;
  padding: 0;
  margin: 0;
  text-align: right;
}

#mainNavBar li {
  display: inline-block;
}

#mainNavBar a {
  text-decoration: none;
  color: #fff;
  width: 70px;
  display: block;
  padding: 25px 20px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 14px;
}

#mainNavBar a:hover {
  background: rgb(168, 0, 0);
}

#homeHero {
  height: 850px;
  background: url(../img/homeHero.jpg) no-repeat center;
  background-size: 100%;
  position: relative;
}

#header_title {
  font-size: 3em;
  text-align: center;
  vertical-align: center;
}

#body_container {
  margin-top: 30px;
}

.row {
  display: flex;
  margin: 50 px 200px 10px 50px;
  width: 60%;
}

.trick {
  margin-left: 11px;
  margin-right: 11px;
  margin-bottom: 10px;
  border: solid black 2px;
  display: inline-block;
  width: 21%;
}

.trick img {
  width: 100%;
  border: solid black 0.5px;
}

.trickContentContainer {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.iconContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.titleContainer {
  width: 100%;
}

.icon {
  margin-right: 15px;
}

#loadMoreButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

#loadMoreButtonContainer button {
  height: 80px;
  width: 120px;
  border-radius: 20px;
  cursor: pointer;
  background: green;
  transition-duration: 0.4s;
  color: white;
}

#loadMoreButtonContainer button:hover {
  background: rgb(35, 104, 26);
  color: rgb(217, 217, 217);
}

#downArrow {
  position: absolute;
  bottom: 5%;
  right: 1%;
}

/* Show page  */

#trick_title {
  text-align: center;
  font-size: 3em;
}

#trickHero {
  height: 650px;
  border: solid black 1px;
}

#updateButton {
  background-color: #4caf50; /* Green */
  border: solid black 1px;
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

#updateButton a {
  text-decoration: none;
  color: white;
}

#updateButton a:hover {
  font-weight: bold;
}

#update_form_submit_button {
  background-color: #4caf50; /* Green */
  border: solid black 1px;
  border-radius: 10px;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 20%;
}

#update_form_delete_button {
  background-color: red;
  border: solid black 1px;
  border-radius: 10px;
  color: white;
  padding: 7px 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 20%;
}

#update_form_delete_button a {
  text-decoration: none;
  color: white;
}

#update_form_delete_button a:hover,
#update_form_submit_button a:hover {
  font-weight: bold;
}

.ContainerIconContainer {
  display: flex;
  align-items: right;
}

#mediaSection {
  display: inline-block;
}

.mediaContainer {
  display: flex inline-block;
  flex-direction: column;
  width: 30%;
  margin-bottom: 10px;
}

.media {
  border: solid black 1px;
  margin-bottom: 15px;
  height: 250px;
}

.media img {
  height: 100%;
  width: 100%;
  border: solid black 1px;
}

iframe {
  width: 100%;
  height: 100%;
}

#comment_flash_message {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
}

#commentSection {
  border: solid black 1px;
  width: 70%;
  margin-right: auto;
  margin-top: 20px;
  padding: 30px;
  border-radius: 15px;
}

.commentContainer {
  display: flex;
  margin-top: 20px;
  width: 50%;
}

.commentContent {
  margin-left: 15px;
}

.commentPicture img {
  height: 45px;
}

.pageContainer {
  display: flex;
}

.pageList {
  list-style: none;
}

.page a {
  margin: 10px;
}

#trick_infos,
#trick_description {
  width: 90%;
  margin: 15px auto 15px 10px;
  border: solid black 1px;
  background-color: rgb(240, 240, 240);
  padding: 15px;
  border-radius: 10px;
}

h3 {
  font-size: 1em;
}

#comments_header {
  text-align: center;
  margin-top: 40px;
}

.comment_form label {
  margin-left: 130px;
  margin-bottom: 100px;
}

.comment_form textarea {
  width: 80%;
  height: 150px;
  margin-left: 10%;
  margin-right: 10%;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 15px;
}

#comment_form_button {
  width: 20%;
  font-size: 1.5em;
  margin: 10px 40% 35px 40%;
}

/* update page */

#update_form {
  background: rgb(241, 241, 241);
  border: solid black 1px;
  border-radius: 10px;
  padding: 40px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

#trick_update_name {
  margin-left: 50px;
  width: 70%;
}

#trick_update_description {
  margin-left: 49px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 70%;
  height: 200px;
}

#trick_update_trickGroup {
  margin-left: 48px;
}

#trick_update_images {
  margin-top: 10px;
}

#description_container {
  display: flex;
  width: 100%;
}

.label_container {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* registration form */

.registration_form {
  background: rgba(255, 0, 0, 0.4);
  padding: 30px;
  width: 60%;
  border-radius: 5px;
  border: solid black 1px;
  margin-left: auto;
  margin-right: auto;
}

#registration_header {
  text-align: center;
}

#login_header {
  text-align: center;
}

.login_form {
  background: rgba(255, 0, 0, 0.4);
  padding: 30px;
  width: 60%;
  border-radius: 5px;
  border: solid black 1px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1000px) {
    /* navbar */

  #mainNavBar a {
    font-size: 2em;
  }

  #mainNavBar li {
    width: 25%;
  }
  /* home page */

  #header_title {
    font-size: 4.5em;
    text-align: center;
    vertical-align: center;
    margin-top: 150px;
}

  .trick {
    width: 93%;
    margin-left: 3%;
    margin-right: auto;
  }

  #loadMoreButtonContainer button {
    height: 150px;
    width: 35%;
    font-size: 2.5em;
  }

  .fas {
    font-size: 3em;
  }

  .titleContainer h2 {
    font-size: 3.5em;
  }

  .iconContainer {
    padding-top: 50px;
}

  /* footer */
  footer {
    font-size: 2.5em;
  }

  /* Trick show page */

  .mediaContainer {
    width: 100%;
  }

  .mediaContainer img {
    height: auto;
  }

  iframe {
    width: 100%;
    height: 800px;
  }

  #trick_infos, #trick_description {
    width: 92%;
    margin: 25px 2% 15px 2%;
  }

  .comment_form textarea {
    width: 80%;
    height: 150px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 15px;
  }

  #comment_form_button {
    width: 60%;
    font-size: 3em;
    margin: 35px 20% 35px 20%;
  }

  /* Trick update page */

  #updateButton {
    width: 60%;
    font-size: 3em;
    margin: 35px 20% 35px 20%;
  }

  /* login page */

  #login_header {
    margin-top: 150px;
    font-size: 5em;
  }

  .login_form {
    margin-top: 150px;
    height: 600px;
    width: 80%;
  }

  .login_form input[type="text"],
  .login_form input[type="password"] {
    padding-left: 35px;
}

  .login_form input {
    width: 90%;
    height: 100px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 4em;
  }

  .login_form button {
    margin-top: 20px;
    width: 60%;
    font-size: 4.5em;
    border-radius: 15px;
  }

  #login_button_container {
    text-align: center;
  }

  #login_form_forgot_link_container {
    margin-top: 25px;
    text-align: center;
  }

  #login_form_forgot_link {
    font-size: 4em;
    text-decoration: none;
  }

  /* registration page */

  #registration_header {
    margin-top: 150px;
    font-size: 5em;
  }

  .registration_form {
    margin-top: 150px;
    height: 1200px;
    width: 80%;
  }

  .registration_form label {
    font-size: 4em;
    margin-top: 20px;
  }

  .registration_form input[type="text"],
  .registration_form input[type="password"] {
    padding-left: 35px;
}

  .registration_form input {
    width: 90%;
    height: 100px;
    margin-top: 15px;
    border-radius: 10px;
    font-size: 4em;
  }

  .registration_form button {
    margin-top: 20px;
    width: 60%;
    font-size: 4.5em;
    border-radius: 15px;
  }

  #registration_button_container {
    text-align: center;
  }
}
