#mainNavBar ul {
    list-style: none; 
    background: #bd1e43; 
    padding: 0; 
    margin: 0; 
    text-align: right; 
}

#mainNavBar li {
    display: inline-block; 
}

#mainNavBar a {
    text-decoration: none; 
    color: #fff; 
    width: 70px; 
    display: block; 
    padding: 25px 20px;
    text-transfor: uppercase;
    font-weight: bold; 
    font-family: arial; 
    text-align: center;
    font-size: 14px;
}

#mainNavBar a:hover {
    background: rgb(168,0,0); 
}

#homeHero {
    height: 1000px; 
    background: url(../img/homeHero.jpg) no-repeat center;
    background-size: 80%;
    position : relative; 
}

#homeHero h1 {
    font-size : 3em;
    text-align : center; 
    vertical-align: center;  
}

.row {
    display: flex;
    margin-right : 200px; 
    margin-left: 50px; 
    margin-top: 50px; 
    margin-bottom: 10px; 
    width : 60%;
}

.trick {
    margin-left: 5px; 
    margin-right: 5px;
    border: solid black 2px;
    border-radius: 10px;
}

.trick img {
    height: 180px;
    border: solid black 0.5px;
}

.trickContentContainer {
    display: flex;
    justify-content: space-between; 
}

.iconContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.titleContainer {
    margin-left: 76px;
}

.icon {
    margin-right: 15px;
}

#loadMoreButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#loadMoreButtonContainer button {
    height: 80px;
    width: 120px;
    border-radius: 20px;
}

#downArrow {
    position : absolute; 
    bottom : 5%; 
    right : 1%;
}

/* Show page  */

#trickHero {
    height: 1000px; 
    border: solid black 1px;
    }

.ContainerIconContainer {
    display: flex;
    align-items: right;
}

.iconContainer {
    display: flex;
}
 
#mediaSection {
    display: flex; 
}

.media {
    border: solid black 1px; 
}

.media img {
    height: 250px; 
    border: solid black 1px;
}

.commentContainer {
    display: flex; 
}

.commentPicture img {
    height: 45px; 
}

/* update page */

.ContainerIconContainer {
    display: flex;
    align-items: right;
}

.iconContainer {
    display: flex;
}
 
#mediaSection {
    display: flex; 
}

.mediaContainer {
    display : flex; 
    flex-direction : column; 
}

.media {
    border: solid black 1px; 
}

.media img {
    height: 315px; 
    border: solid black 1px;
}



