{% extends 'base.html.twig' %}

{% block stylesheets %}

#homeHero {
    height: 1000px; 
    background: url(img/homeHero.jpg) no-repeat center;
    background-size: 80%;
}

#homeHero h1 {
    font-size : 3em;
    text-align : center; 
    vertical-align: center;  
}

.row {
    display: flex;
    margin-right : 300px; 
    margin-left: 550px; 
    margin-top: 50px; 
    margin-bottom: 10px; 
    width : 60%;
}

.trick {
    margin-left: 5px; 
    margin-right: 5px;
    border: solid black 2px;
    border-radius: 10px;
}

.trick img {
    height: 180px;
    border: solid black 0.5px;
}

.trickContentContainer {
    display: flex;
    justify-content: space-between; 
}

.iconContainer {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
}

.titleContainer {
    margin-left: 76px;
}

.icon {
    margin-right: 15px;
}

#loadMoreButtonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#loadMoreButtonContainer button {
    height: 80px;
    width: 120px;
    border-radius: 20px;
}

{% endblock %}

{% block head %}

{% endblock %}

{% block title %}{% endblock %}

{% block body %}

    <div id="homeHero">
        <h1>Site communautaire Snowtricks</h1> 
    </div>
    <div class="row" id="row1">
        {# foreach tricks as trick #} 
        <div class="trick" id="trick">
            <a href="#"><img src="img/snowfigure.jpg"></a>{# trick.image #}
            <div class="trickContentContainer">
                <div class="titleContainer">
                    <h2>Back slide</h2>
                </div>
                {% if app.user %}
                    <div class="iconContainer">
                        <div class="trashIcon icon">
                            <a onclick="return confirm('attention, cela va supprimer l\'article')" href=# class="delete"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="penIcon icon">
                            <a href="#"><i class="fas fa-pen"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        
       {# foreach tricks as trick #} 
        <div class="trick" id="trick">
            <a href="#"><img src="img/snowfigure.jpg"></a>{# trick.image #}
            <div class="trickContentContainer">
                <div class="titleContainer">
                    <h2>Back slide</h2>
                </div>
                {% if app.user %}
                    <div class="iconContainer">
                        <div class="trashIcon icon">
                            <a class="delete"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="penIcon icon">
                            <a href="#"><i class="fas fa-pen"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {# foreach tricks as trick #} 
        <div class="trick" id="trick">
            <a href="#"><img src="img/snowfigure.jpg"></a>{# trick.image #}
            <div class="trickContentContainer">
                <div class="titleContainer">
                    <h2>Back slide</h2>
                </div>
                {% if app.user %}
                    <div class="iconContainer">
                        <div class="trashIcon icon">
                            <a class="delete" onclick="return confirm('attention, cela va supprimer l\'article')" href="#"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="penIcon icon">
                            <a href="#"><i class="fas fa-pen"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {# foreach tricks as trick #} 
        <div class="trick" id="trick">
            <a href="#"><img src="img/snowfigure.jpg"></a>{# trick.image #}
            <div class="trickContentContainer">
                <div class="titleContainer">
                    <h2>Back slide</h2>
                </div>
                {% if app.user %}
                    <div class="iconContainer">
                        <div class="trashIcon icon">
                            <a class="delete" href="#"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="penIcon icon">
                            <a href="#"><i class="fas fa-pen"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row" id="row1">
        {# foreach tricks as trick #} 
        <div class="trick" id="trick5">
            <a href="#"><img src="img/snowfigure.jpg"></a>{# trick.image #}
            <div class="trickContentContainer">
                <div class="titleContainer">
                    <h2>Back slide</h2>
                </div>
                {% if app.user %}
                    <div class="iconContainer">
                        <div class="trashIcon icon">
                            <a class="delete" href="#"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="penIcon icon">
                            <a href="#"><i class="fas fa-pen"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        
        
        
       {# foreach tricks as trick #} 
        <div class="trick" id="trick6">
            <a href="#"><img src="img/snowfigure.jpg"></a>{# trick.image #}
            <div class="trickContentContainer">
                <div class="titleContainer">
                    <h2>Back slide</h2>
                </div>
                {% if app.user %}
                    <div class="iconContainer">
                        <div class="trashIcon icon">
                            <a class="delete" href="#"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="penIcon icon">
                            <a href="#"><i class="fas fa-pen"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {# foreach tricks as trick #} 
        <div class="trick" id="trick7">
            <a href="#"><img src="img/snowfigure.jpg"></a>{# trick.image #}
            <div class="trickContentContainer">
                <div class="titleContainer">
                    <h2>Back slide</h2>
                </div>
                {% if app.user %}
                    <div class="iconContainer">
                        <div class="trashIcon icon">
                            <a class="delete" href="#"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="penIcon icon">
                            <a href="#"><i class="fas fa-pen"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {# foreach tricks as trick #} 
        <div class="trick" id="trick8">
            <a href="#"><img src="img/snowfigure.jpg"></a>{# trick.image #}
            <div class="trickContentContainer">
                <div class="titleContainer">
                    <h2>Back slide</h2>
                </div>
                {% if app.user %}
                    <div class="iconContainer">
                        <div class="trashIcon icon">
                            <a class="delete" href="#"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="penIcon icon">
                            <a href="#"><i class="fas fa-pen"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row" id="row1">
        {# foreach tricks as trick #} 
        <div class="trick" id="trick9">
            <a href="#"><img src="img/snowfigure.jpg"></a>{# trick.image #}
            <div class="trickContentContainer">
                <div class="titleContainer">
                    <h2>Back slide</h2>
                </div>
                {% if app.user %}
                    <div class="iconContainer">
                        <div class="trashIcon icon">
                            <a class="delete" href="#"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="penIcon icon">
                            <a href="#"><i class="fas fa-pen"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        
        
        
       {# foreach tricks as trick #} 
        <div class="trick" id="trick10">
            <a href="#"><img src="img/snowfigure.jpg"></a>{# trick.image #}
            <div class="trickContentContainer">
                <div class="titleContainer">
                    <h2>Back slide</h2>
                </div>
                {% if app.user %}
                    <div class="iconContainer">
                        <div class="trashIcon icon">
                            <a class="delete" href="#"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="penIcon icon">
                            <a href="#"><i class="fas fa-pen"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {# foreach tricks as trick #} 
        <div class="trick" id="trick11">
            <a href="#"><img src="img/snowfigure.jpg"></a>{# trick.image #}
            <div class="trickContentContainer">
                <div class="titleContainer">
                    <h2>Back slide</h2>
                </div>
                {% if app.user %}
                    <div class="iconContainer">
                        <div class="trashIcon icon">
                            <a class="delete" href="#"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="penIcon icon">
                            <a href="#"><i class="fas fa-pen"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>

        {# foreach tricks as trick #} 
        <div class="trick" id="trick12">
            <a href="#"><img src="img/snowfigure.jpg"></a>{# trick.image #}
            <div class="trickContentContainer">
                <div class="titleContainer">
                    <h2>Back slide</h2>
                </div>
                {% if app.user %}
                    <div class="iconContainer">
                        <div class="trashIcon icon">
                            <a class="delete" href="#"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="penIcon icon">
                            <a href="#"><i class="fas fa-pen"></i></a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    
        <div id="loadMoreButtonContainer">
            <a href=#><button>Load more</button></a>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="js/main.js"></script>
{% endblock %}

