{% extends 'base.html.twig' %}

{% block title %}Hello UsersController!{% endblock %}

{% block body %}
<style>
    form {
        border: solid black 1px; 
        width: 300px;
        padding: 10px; 
        margin-left: auto; 
        margin-right: auto; 
        margin-top: 20px; 
    }

    form:hover {
        background: rgb(168,0,0);
        color: white;
    }

    #inputContainer {
        display: flex; 
        flex-direction: column; 
    }

    input {
        width: 280px;
        margin-top: 10px;
    }

    .labelContainer {
        margin-top: 10px;
    }

    label {
        display: block; 
        text-align: center;
    }

    #buttonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
</style>

<form>
    <div id="inputContainer">
        <div class="labelContainer">
            <label>Nom d'utilisateur ou adresse e-mail</label>
        </div>
        <input type="text">
        <div class="labelContainer">
            <label>Mot de passe</label>
        </div>
        <input type="text">
    </div>
    <div>
        <div id="buttonContainer">
        <button>Réinitialiser le mot de passe</button>
        </div>
    </div>
    
</form>


{% endblock %}
